*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* $fontLight: rgb(224, 224, 224); */
$fontLight: rgb(226, 218, 218);
/* $fontLinkHover: rgb(226, 28, 28); */
$fontLinkHover: rgb(26, 25, 25);

body {
    /* background-image: linear-gradient(to right, rgb(34, 51, 85), rgb(4, 21, 34)); */
    /* background-image: linear-gradient(to right, rgb(64, 88, 136),rgb(0, 65, 61)); */
    background-image: linear-gradient(to right, rgb(116, 116, 116),rgb(15, 80, 141));
    font-family: 'Roboto', sans-serif;
    color: $fontLight;
    overflow-x: hidden;
}

.nav_slider {
    transform: translateX(0px);
}

nav {

    position: fixed;
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(16, 85, 138)); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(206, 52, 13)); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(206, 52, 13));
    right: 0;
    width: 700px;
    transform: translateX(700px);
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        list-style: none;
        transform: translateX(100px);
    }

    li {
        padding: 1.3rem;
        transition: 1s ease-in-out;
    }

    li:hover {
        transform: scale(1.1);
    }

    a {
        text-decoration: none;
        color: $fontLight;
    }

    a:hover {
        color: $fontLinkHover;
        text-decoration: underline;
    }
}

//PAGE 1

.page_1 {
    height: 100vh;
    max-height: 100vh;

    p {
        line-height: 25px;
    }
}

.page_1_text {
    width: 450px;
    padding-top: 6rem;
    padding-left: 6rem;
    animation: page_1_animate_text 1s ease-in-out forwards;
    opacity: 0;
    transform: translateY(40px);
}

@keyframes page_1_animate_text {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.page_1_img img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -10;
}

/* ----------------- Canvas 1 ------------------------ */

.page_1_animation_canvas {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 400px;

    img {
        width: 60px;
        animation: page_1_animate_logo 4s ease-in-out;
        opacity: 0;
        position: absolute;
    }
}

@keyframes page_1_animate_logo {
    0% {
        opacity: 0;
        transform: translateY(300px) rotatey(0deg);
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(300px) rotateY(1080deg);
    }
}

/* ----------------- Canvas 2 ------------------------ */

.page_1_animation_canvas2 {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 400px;

    img {
        width: 60px;
        animation: page_1_animate_logo2 4s ease-in-out;
        opacity: 0;
        position: absolute;
    }
}

@keyframes page_1_animate_logo2 {
    0% {
        opacity: 0;
        transform: translateY(300px) rotateY(0deg);
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-300px) rotateY(1080deg);
    }
}

/* ----------------- End of canvas ------------------------ */

.page_1_background {
    position: absolute;
    height: 80%;
    top: 430px;
    transform: rotate(90deg);
    z-index: -20;
    opacity: 0.1;
}

//PAGE 2

.page_2 {
    height: 100vh;
    max-height: 100vh;
    display: flex;
}

.page_2_text {
    width: 450px;
    padding-top: 6rem;
    padding-left: 6rem;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in-out;

    p {
        line-height: 25px;
    }
}

.page_2_text_show {
    opacity: 1;
    transform: translateY(0);
}

.page_2_digits_animation {
    padding-top: 6rem;
    padding-right: 6rem;
    color: rgb(190, 16, 16);
    transition: 1s ease-in;
}

.page_2_digits_animation_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.glow {
    text-shadow:
    /* White glow */
    0 0 7px red,
    0 0 10px red,
    0 0 21px red,
}

.page2digits_square {
    height: 20px;
    width: 10px;
    background-color: aliceblue;
    opacity: 0;
    animation: page2digits_square_animation 1s ease-in-out infinite;
}

@keyframes page2digits_square_animation {
    100% {
        opacity: 1;
    }
}

.page_2_img img {
    position: absolute;
    right: 0;
    height: 100vh;
    z-index: -10;
}

//PAGE 3

.page_3 {
    height: 100vh;
    max-height: 100vh;
}

.page_3_text {
    width: 450px;
    padding-top: 6rem;
    padding-left: 6rem;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in-out;

    p {
        line-height: 25px;
    }
}

.page_3_text_show {
    opacity: 1;
    transform: translateY(0);
}

.page_3_card_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: minmax(min-content, max-content);
    align-self: center;
    justify-content: center;
}

.page_3_card {
    margin: 0.5rem;
    transition: 0.5s ease-in-out;
    border: solid 1px $fontLight;

    h1 {
        position: absolute;
        top: 0;
    }
}

.page_3_card_brightness {
    filter: brightness(0.2);
}

.card_3_background {
    background-image: url('vinyl.jpg');
    width: 100%;
    height: 100%;
}

/* .page_3_list {

    padding-top: 2rem;

    li {
       line-height: 2em;
    }

    a {
        text-decoration: none;
        color: $fontLight;
    }

    a:hover {
        color: $fontLinkHover;
    }
} */


//PAGE 4

.page_4 {
    height: 100vh;
    max-height: 100vh;
}

.page_4_text {
    width: 450px;
    padding-top: 6rem;
    padding-left: 6rem;
    opacity: 0;
    transform: translateY(40px);
    transition: 1s ease-in-out;

    p {
        line-height: 25px;
    }
}

.page_4_text_show {
    opacity: 1;
    transform: translateY(0);
}

.page_4_background {
    position: absolute;
    height: 80%;
    right: 0;
    transform: rotate(180deg);
    z-index: -20;
    opacity: 0.1;
}